<header class="navbar bg-base-200">
  <div class="flex flex-row justify-start w-full">
    <div class="dropdown">
      <div
        tabindex="0"
        role="button"
        class="btn btn-ghost lg:hidden swap swap-rotate"
      >
        <!-- this hidden checkbox controls the state -->
        <input type="checkbox" />

        <!-- hamburger icon -->
        <svg
          class="fill-current swap-off"
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 512 512"
        >
          <path
            d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"
          />
        </svg>

        <!-- close icon -->
        <svg
          class="fill-current swap-on"
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 512 512"
        >
          <polygon
            points="400 145.49 366.51 112 256 222.51 145.49 112 112 145.49 222.51 256 112 366.51 145.49 400 256 289.49 366.51 400 400 366.51 289.49 256 400 145.49"
          />
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content mt-3 mr-8 z-[100] p-2 shadow bg-base-300 rounded-box w-52"
      >
        <li><a routerLink="/inicio">Inicio</a></li>
        <li><a routerLink="/productos">Productos</a></li>

        <li>
          <a>Perfil </a>
          <ul class="p-2">
            @if (!userLoginOn){
            <li>
              <a class="hover:text-gray-300" routerLink="/iniciar-sesion"
                >Iniciar Sesión</a
              >
            </li>
            } @if (userLoginOn ){
            <li>
              <a class="hover:text-gray-300" routerLink="/perfil">Perfil</a>
            </li>
            @if (userIsAdmin){
            <li>
              <a class="hover:text-gray-300" routerLink="/administracion"
                >Panel Administración</a
              >
            </li>

            }
            <li>
              <a
                class="text-warning hover:text-gray-300"
                (click)="logout()"
                routerLink="/"
                >Cerrar Sesión</a
              >
            </li>
            }
          </ul>
        </li>
      </ul>
    </div>
    <div
      class="flex items-center justify-center w-full -ml-14 sm:justify-start sm:ml-4"
    >
      <a routerLink="/" class="text-xl btn btn-ghost">
        <div class="flex space-x-2">
          <img [src]="imagePath" alt="Mi Imagen" class="w-8 h-8 rounded-full" />
          <span class="text-lg font-bold text-white">GuitarThings</span>
        </div>
      </a>
    </div>
  </div>

  <div class="hidden navbar-center lg:flex">
    <ul class="px-1 menu menu-horizontal">
      <li><a routerLink="/inicio">Inicio</a></li>
      <li><a routerLink="/productos">Productos</a></li>

      <li class="mr-20 z-[100]">
        <details>
          <summary>Perfil</summary>
          <ul class="p-2">
            @if (!userLoginOn){
            <li>
              <a class="hover:text-gray-300" routerLink="/iniciar-sesion"
                >Iniciar Sesión</a
              >
            </li>
            } @if (userLoginOn){
            <li>
              <a class="hover:text-gray-300" routerLink="/perfil">Perfil</a>
            </li>
            @if (userIsAdmin){
            <li>
              <a class="hover:text-gray-300" routerLink="/administracion"
                >Panel Administración</a
              >
            </li>
            }

            <li>
              <a
                class="text-warning hover:text-gray-300"
                (click)="logout()"
                routerLink="/"
                >Cerrar Sesión</a
              >
            </li>
            }
          </ul>
        </details>
      </li>
    </ul>
  </div>
</header>
