<nav class="flex items-center justify-between p-4 bg-yellow-700">
  <div class="flex items-center space-x-4">
    <button (click)="toggleNav()" class="text-white focus:outline-none lg:hidden">
    <img [src]="imagePath" alt="Mi Imagen" class="w-8 h-8 rounded-full">
    </button>
  </div>
  <div [ngClass]="{'hidden': !isNavOpen}" class="items-center space-x-4 lg:flex">
    <ul class="flex items-center space-x-4">
      <li>
        <a class="text-white hover:text-gray-300" routerLink="/inicio">Portfolio</a>
      </li>
      <li *ngIf="!userLoginOn">
        <a class="text-white hover:text-gray-300" routerLink="/iniciar-sesion">Iniciar Sesión</a>
      </li>
      <li *ngIf="userLoginOn">
        <a class="text-white hover:text-gray-300" (click)="logout()" routerLink="/inicio">Cerrar Sesión</a>
      </li>
    </ul>
  </div>
</nav>
