<div
  class="relative mb-8 hero min-w-custom"
  style="background-image: url('{{ imageBackgroundPath }}');"
>
  <div class="hero-overlay h-[95dvh] mb-16 bg-opacity-60"></div>
  <div
    class="flex flex-col items-center justify-center h-screen text-center hero-content text-neutral-content"
  >
    <div class="max-w-md">
      <h1 class="pb-5 text-5xl font-bold">¡Bienvenido a GuitarThings!</h1>
      <p class="text-center">
        GuitarThings es tu destino para tus guitarras y accesorios. Personaliza tu experiencia musical con nuestra selección de
        guitarras y accesorios de alta calidad.
      </p>
      <p class="mt-4 text-center">Creado con pasión por Carlos Sánchez.</p>
      <div class="pt-5 mb-8">
        <button
          routerLink="/iniciar-sesion"
          class="relative h-12 rounded w-36 bg-secondary hover:bg-info hover:text-white"
        >
          <span class="absolute w-3 h-3 -top-3 -right-2">
            <span
              class="absolute inline-flex w-5 h-5 rounded-full opacity-75 animate-ping -right-1 -top-0 bg-neutral"
            ></span>
            <span
              class="relative inline-flex w-3 h-3 rounded-full bg-info"
            ></span>
          </span>
          <span class="text-accent">Iniciar Sesión</span>
        </button>
      </div>
    </div>
    <div class="absolute bottom-0 left-0 w-full pb-8 text-center">
      <a routerLink="/productos" class="btn">Productos</a>
    </div>
  </div>
</div>
