<footer class="w-full p-10 bg-base-100 footer text-base-content sm:flex-col">
  <div class="w-full pb-14 divider">
    <aside class="flex items-center justify-start w-full bg-base-100">
      <img [src]="imagePath" alt="Mi Imagen" class="rounded-full h-14 w-14" />

      <p class="text-xl font-bold">GuitarThings</p>
    </aside>
  </div>
  <nav>
    <h6 class="footer-title">Services</h6>
    <a class="link link-hover">Branding</a>
    <a class="link link-hover">Design</a>
    <a class="link link-hover">Marketing</a>
    <a class="link link-hover">Advertisement</a>
  </nav>
  <nav>
    <h6 class="footer-title">Company</h6>
    <a class="link link-hover">About us</a>
    <a class="link link-hover">Contact</a>
    <a class="link link-hover">Jobs</a>
    <a class="link link-hover">Press kit</a>
  </nav>
  <nav>
    <h6 class="footer-title">Legal</h6>
    <a class="link link-hover">Terms of use</a>
    <a class="link link-hover">Privacy policy</a>
    <a class="link link-hover">Cookie policy</a>
  </nav>
  <div class="w-full divider">
    <aside class="flex justify-center w-full">
      <p>Creado por Carlos Sánchez Núñez</p>
    </aside>
  </div>
</footer>
